## uncomment this variables and pass the respective values.
# DB_NAME=<Database-name>
# DB_PASSWORD=<Database-passwords>
# DB_HOST=<Database-host>
# B_PORT=<Database-port-general:5432>
# SECRET_KEY=your-secret-key


# DB_USER=<Database-name>
